.navbar {
  width: 100%;
  position: sticky;
  top: 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__home {
      &__title {
        margin: 0;
        font-size: 2.5rem;
        font-weight: 600;
      }
    }

    &__buttons {
      display: flex;

      &__about,
      &__projects,
      &__contact,
      &__repository {
        font-size: 1.5rem;
        font-weight: 400;
        margin-left: 1.5rem;
      }
    }
  }
}
