.tag {
  border-radius: 0.35rem;
  padding: 0.2rem 0.5rem;
  font-weight: 400;

  &__warning {
    color: #744210;
    background-color: #fefcbf;
  }
  &__success {
    color: #22543d;
    background-color: #c6f6d5;
  }
  &__error {
    color: #822727;
    background-color: #fed7d7;
  }
}
