.app {
  margin: 0;
  padding: 0;
  background-color: #dde9ef;

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
::-webkit-scrollbar-track {
  background: #1b313c;
}
::-webkit-scrollbar-thumb {
  background: #5694b2;
  border-radius: 12px;
}
::-webkit-scrollbar {
  width: 7px;
}
